 ul.xda-ticker
        {
            list-style: none;
        }
        #tickerwrapper
        {
            padding:0px;
            width: 100%;
        }
        #tickerwrapper ul.xda-ticker li
        {
            padding:0px;
            text-align: left;
            font-style:italic;
            font-size:12px;
            color:White;
        }
        #tickerwrapper .container
        {
            background: #428BCA;
            height: 35px;
            overflow: hidden;
            width: 100%;
        }